USE [Taxpayer_Database_DiplomaProject]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 3/7/2026 3:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Action] [nvarchar](500) NOT NULL,
	[ActionDate] [datetime2](7) NOT NULL,
	[AdditionalInfo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[model_metrics]    Script Date: 3/7/2026 3:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[model_metrics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ModelName] [nvarchar](100) NOT NULL,
	[TargetName] [nvarchar](100) NOT NULL,
	[DatasetType] [nvarchar](50) NOT NULL,
	[MAE] [float] NOT NULL,
	[RMSE] [float] NOT NULL,
	[MSE] [float] NOT NULL,
	[R2] [float] NOT NULL,
	[MAPE] [float] NULL,
	[MedianAE] [float] NULL,
	[MaxError] [float] NULL,
	[Observations] [int] NULL,
	[ModelVersion] [nvarchar](50) NULL,
	[TaxType] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyTaxData]    Script Date: 3/7/2026 3:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyTaxData](
	[RecordId] [int] IDENTITY(1,1) NOT NULL,
	[TaxpayerId] [int] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[TaxType] [char](10) NOT NULL,
	[IncomeAmount] [decimal](15, 2) NULL,
	[TaxAmount] [decimal](15, 2) NOT NULL,
	[season] [nvarchar](10) NOT NULL,
	[transactions_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Predict]    Script Date: 3/7/2026 3:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predict](
	[PredictId] [int] IDENTITY(1,1) NOT NULL,
	[TaxpayerId] [int] NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[INN] [nvarchar](12) NOT NULL,
	[Year] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Income] [decimal](18, 2) NOT NULL,
	[Transactions] [int] NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[TaxType] [nvarchar](50) NULL,
	[TaxpayerType] [nvarchar](50) NULL,
	[activity_type] [nvarchar](50) NULL,
	[registration_district] [nvarchar](100) NULL,
	[has_employees] [bit] NULL,
	[employees_count] [int] NULL,
	[ModelName] [nvarchar](100) NULL,
	[ModelVersion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PredictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taxpayer]    Script Date: 3/7/2026 3:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taxpayer](
	[TaxpayerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[PassportNumber] [nvarchar](20) NOT NULL,
	[INN] [char](12) NOT NULL,
	[TaxpayerType] [char](10) NOT NULL,
	[activity_type] [nvarchar](100) NOT NULL,
	[registration_district] [nvarchar](100) NOT NULL,
	[has_employees] [bit] NOT NULL,
	[employees_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaxpayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PassportNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[INN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/7/2026 3:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[Avatar] [varbinary](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NULL,
	[user_role] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yearly_growth_general]    Script Date: 3/7/2026 3:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yearly_growth_general](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[TaxType] [char](10) NULL,
	[IncomeGrowth] [decimal](10, 2) NOT NULL,
	[TaxGrowth] [decimal](10, 2) NOT NULL,
	[TransactionsGrowth] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IncomeTotal] [decimal](18, 2) NOT NULL,
	[TaxTotal] [decimal](18, 2) NOT NULL,
	[TransactionTotal] [decimal](18, 2) NOT NULL,
	[ModelName] [nvarchar](100) NULL,
	[ModelVersion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yearly_growth_median]    Script Date: 3/7/2026 3:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yearly_growth_median](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[TaxType] [char](10) NULL,
	[IncomeTotal] [decimal](18, 2) NOT NULL,
	[TaxTotal] [decimal](18, 2) NOT NULL,
	[TransactionTotal] [decimal](18, 2) NOT NULL,
	[IncomeGrowth] [decimal](10, 2) NOT NULL,
	[TaxGrowth] [decimal](10, 2) NOT NULL,
	[TransactionsGrowth] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ModelName] [nvarchar](100) NULL,
	[ModelVersion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yearly_stats_general]    Script Date: 3/7/2026 3:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yearly_stats_general](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[TaxType] [char](10) NULL,
	[IncomeGeneral] [decimal](18, 2) NOT NULL,
	[TaxGeneral] [decimal](18, 2) NOT NULL,
	[TransactionsGeneral] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[Month] [int] NOT NULL,
	[ModelName] [nvarchar](100) NULL,
	[ModelVersion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yearly_stats_median]    Script Date: 3/7/2026 3:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yearly_stats_median](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[TaxType] [char](10) NULL,
	[IncomeMedian] [decimal](18, 2) NOT NULL,
	[TaxMedian] [decimal](18, 2) NOT NULL,
	[TransactionsMedian] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[Month] [int] NOT NULL,
	[ModelName] [nvarchar](100) NULL,
	[ModelVersion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataLoadLog] ADD  DEFAULT (sysdatetime()) FOR [LoadDate]
GO
ALTER TABLE [dbo].[model_metrics] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[yearly_growth_general] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[yearly_growth_general] ADD  DEFAULT ((0)) FOR [IncomeTotal]
GO
ALTER TABLE [dbo].[yearly_growth_general] ADD  DEFAULT ((0)) FOR [TaxTotal]
GO
ALTER TABLE [dbo].[yearly_growth_general] ADD  DEFAULT ((0)) FOR [TransactionTotal]
GO
ALTER TABLE [dbo].[yearly_growth_median] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[yearly_stats_general] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[yearly_stats_median] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[yearly_stats_median] ADD  DEFAULT ((1)) FOR [Month]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Users]
GO
ALTER TABLE [dbo].[MonthlyTaxData]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyTax_Taxpayer] FOREIGN KEY([TaxpayerId])
REFERENCES [dbo].[Taxpayer] ([TaxpayerId])
GO
ALTER TABLE [dbo].[MonthlyTaxData] CHECK CONSTRAINT [FK_MonthlyTax_Taxpayer]
GO
ALTER TABLE [dbo].[MonthlyTaxData]  WITH CHECK ADD CHECK  (([Month]>=(1) AND [Month]<=(12)))
GO
ALTER TABLE [dbo].[MonthlyTaxData]  WITH CHECK ADD  CONSTRAINT [CK_MonthlyTaxData_Season] CHECK  (([season]=N'Осень' OR [season]=N'Лето' OR [season]=N'Весна' OR [season]=N'Зима'))
GO
ALTER TABLE [dbo].[MonthlyTaxData] CHECK CONSTRAINT [CK_MonthlyTaxData_Season]
GO
ALTER TABLE [dbo].[MonthlyTaxData]  WITH CHECK ADD  CONSTRAINT [CK_MonthlyTaxData_Transactions] CHECK  (([transactions_count]>=(0)))
GO
ALTER TABLE [dbo].[MonthlyTaxData] CHECK CONSTRAINT [CK_MonthlyTaxData_Transactions]
GO
ALTER TABLE [dbo].[Taxpayer]  WITH CHECK ADD  CONSTRAINT [CK_Taxpayer_Employees] CHECK  (([has_employees]=(0) AND [employees_count] IS NULL OR [has_employees]=(1) AND [employees_count]>=(1)))
GO
ALTER TABLE [dbo].[Taxpayer] CHECK CONSTRAINT [CK_Taxpayer_Employees]
GO
